<!DOCTYPE html>
<html>

<head>
  <title>Sito Strano</title>
</head>

<body>
  <%- include('./partial/nav.ejs') %>

<div class="ciao">

  <h2>ERRORE, pagina non trovata</h2>
 

</div>
<%- include('./partial/footer.ejs') %>
</body>
</html>