<!DOCTYPE html>
<html>

<head>
  <title>Sito Strano</title>
</head>

<body>
  <%- include('./partial/nav.ejs') %>

<div class="offerte lavori">

  <h2>Siamo una azienda fantastica, contattateci</h2>
  <p>Bla Bla Bla Bla</p>

</div>
<%- include('./partial/footer.ejs') %>
</body>
</html>
