<nav>
    <div class="site-title">
      <a href="/"><h1>Cerca Lavoro</h1></a>
    </div>
    <ul>
      <li><a href="/">Effettua il login per poter continuare</a></li>
      <li><a href="/about">About us</a></li>
    </ul>
  </nav>