<nav>
    <div class="site-title">
      <a href="/"><h1>Cerca Lavoro</h1></a>
    </div>
    <ul>
      <li><a href="/creaLavoro">Crea Offerta di Lavoro</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>